body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 800px;
    max-width: 90%;
    margin: 0 auto 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

#todo-list {
    width: 40%;
    margin: 200px auto 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#todo-list ul {
    padding: 0;
}

#todo-list li {
    display: block;
    height: 30px;
    font-size: 20px;
    font-family: Verdana;
}

#todo-list li button {
    float: right;
}

.date {
    font-style: italic;
    font-size: 0.9rem;
}