#board {
    display: block;
    margin: 25px 0 0 25px;
    padding: 2px;
    border: 5px solid #a2bcf5;
    position: relative;
}

#board.hidden {
    display: none;
}

.block {
    display: block;
    position: absolute;
    width: 62px;
    height: 57px;
    border: 2px solid #2566b7;
    margin: 2px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #114da8;
    padding-top: 5px;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

table td {
    padding:  5px 20px;
}

table, th, td {
    border: 1px solid black;
}

#winners {
    margin-left: 30px;
    margin-top: 30px;
}

